@tailwind base;
@tailwind components;
@tailwind utilities;

/* .bg-animate-right{
    @apply  text-primary transition-all duration-500 ease-out bg-right-bottom;
} */


.bg-animate-right {
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
      }

      .bg-animate-right:hover{
        background-position: left bottom;

    }

/* @variants hover{
    .bg-animate-right:hover{
        background-position: left bottom;

    }
} */

/* absolute top-16 left-10 right-10 bottom-10 shadow-xl scroll-y-auto bg-white bg-gray-200 z-20 */
  .Modal {
    position: absolute;
	@apply bg-blue-50 top-16 sm:left-10 left-1 sm:right-10 right-1 bottom-auto shadow-xl overflow-y-auto z-20 ;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	  background-color:rgba(0,0,0,.8);
  }

